<% include partials/header2 %>

<h1>This is the home page from home.ejs !</h1>
<img src="https://www.petfinder.com/wp-content/uploads/2012/11/99233806-bringing-home-new-cat-632x475.jpg">

<% include partials/footer %>