@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// not my code
@mixin calcWidth($merge, $columns) {
  width: calc(#{$merge} * ((100% - ((#{$columns} - 1) * #{$gutter-horizontal})) / #{$columns}) + ((#{$merge} - 1) * #{$gutter-horizontal}));
 }

 @mixin filter {
  filter: saturate(110%);
 }

 @mixin absCenter {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }