<h1>This is the secret page!</h1>

<p>I am yours to claim! Power everlasting, muhahaha!</p>

<img src="http://static.tvtropes.org/pmwiki/pub/images/rsz_mr_burns_evil_7487.gif">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>